<section id="posts">
    <h2>About me</h2>
    <p>
        Hello there! I am Efraim Rodrigues. I started coding scripts for a online game private server I played and have never stopped coding ever since.
        I got my bachelor's degree in computer science from the Federal University of the Semi-Arid where I 
        have worked as the teaching assistant for the Applied Informatics and Object-Oriented Programming courses.
    </p>
    <p>
        I was an exchange student at University of Nebraska - Lincoln 
        majoring in computer science. I have worked as a teaching assistant there as well. 
        Moreover, I was a volunteer researcher in a bioinformatics project. 
    </p>
    <p>    
        I am currently working as a I.T. Tech at the Federal University of Ceará in Fortaleza where I currently write Java web applications.
    </p>
</section>